<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UWUVCI_AIO_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <UWUVCI_AIO_WPF.Properties.Settings>
            <setting name="PathsSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ckey" serializeAs="String">
                <value/>
            </setting>
            <setting name="SetBaseOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetOutOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="SysKey1" serializeAs="String">
                <value/>
            </setting>
            <setting name="dont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ndsw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snesw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gczw" serializeAs="String">
                <value>False</value>
            </setting>
        </UWUVCI_AIO_WPF.Properties.Settings>
    </userSettings>
</configuration>
