<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADVERTISE_AVX</key>
	<integer>0</integer>
	<key>Associations</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Kegworks</string>
	<key>CFBundleIconFile</key>
	<string>Kegworks.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kegworks.UWUVCIV3964334181</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>UWUVCI-V3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>3.1.7_2</string>
	<key>CLI Custom Commands</key>
	<string></string>
	<key>CNC_DDRAW</key>
	<integer>0</integer>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>D3DMETAL</key>
	<integer>0</integer>
	<key>D9VK</key>
	<integer>0</integer>
	<key>DXMT</key>
	<integer>0</integer>
	<key>DXVK</key>
	<integer>0</integer>
	<key>Debug Mode</key>
	<integer>0</integer>
	<key>Disable CPUs</key>
	<integer>0</integer>
	<key>FASTMATH</key>
	<integer>0</integer>
	<key>Gamma Correction</key>
	<string>default</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.4</string>
	<key>METAL_HUD</key>
	<integer>0</integer>
	<key>MOLTENVKCX</key>
	<integer>1</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBGOnly</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs access to Bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs access to Bluetooth</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>This app needs access to your Desktop</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to your Documents</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>This app needs access to your Downloads</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the Microphone</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>This app needs access to Network Volumes</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>This app needs access to Removable Volumes</string>
	<key>Program Flags</key>
	<string></string>
	<key>Program Name and Path</key>
	<string>/Program Files/UWUVCI_AIO/UWUVCI AIO.exe</string>
	<key>Skip Gecko</key>
	<integer>0</integer>
	<key>Skip Mono</key>
	<integer>0</integer>
	<key>Symlink Desktop</key>
	<string>$HOME/Desktop</string>
	<key>Symlink Downloads</key>
	<string>$HOME/Downloads</string>
	<key>Symlink My Documents</key>
	<string>$HOME/Documents</string>
	<key>Symlink My Music</key>
	<string>$HOME/Music</string>
	<key>Symlink My Pictures</key>
	<string>$HOME/Pictures</string>
	<key>Symlink My Videos</key>
	<string>$HOME/Movies</string>
	<key>Symlink Templates</key>
	<string>$HOME/Templates</string>
	<key>Symlinks In User Folder</key>
	<integer>1</integer>
	<key>Try To Use GPU Info</key>
	<integer>0</integer>
	<key>WINEDEBUG</key>
	<string>-plugplay,+loaddll</string>
	<key>WINEESYNC</key>
	<integer>1</integer>
	<key>WINEMSYNC</key>
	<integer>1</integer>
	<key>Winetricks disable logging</key>
	<integer>1</integer>
	<key>Winetricks force</key>
	<integer>0</integer>
	<key>Winetricks silent</key>
	<integer>1</integer>
</dict>
</plist>
