<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" target="$mono_libdir\x86\SDL2.dll" os="windows" cpu="x86"/>
	<dllmap dll="SDL2" target="$mono_libdir\x86_64\SDL2.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FAudio" target="$mono_libdir\x86\FAudio.dll" os="windows" cpu="x86"/>
	<dllmap dll="FAudio" target="$mono_libdir\x86_64\FAudio.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FNAMF" target="$mono_libdir\x86\FNAMF.dll" os="windows" cpu="x86"/>
	<dllmap dll="FNAMF" target="$mono_libdir\x86_64\FNAMF.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FNA3D" target="$mono_libdir\x86\FNA3D.dll" os="windows" cpu="x86"/>
	<dllmap dll="FNA3D" target="$mono_libdir\x86_64\FNA3D.dll" os="windows" cpu="x86-64"/>
</configuration>
